<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{title}}</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">buscar</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-8">
      <app-bonsai-list></app-bonsai-list>
    </div>
    <div class="col-4">carrito de compras</div>
  </div>
</div>
<footer>{{title}} since 2022</footer>